<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <style>
      body {
        font-family: Arial;
        margin: 40px;
      }
      .error {
        color: red;
      }
    </style>
  </head>
  <body>
    <h2>Login</h2>
    <form method="post">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit">Login</button>
    </form>
    <p>
      Don't have an account? <a href="{% url 'register' %}">Register here</a>
    </p>

    {% if form.errors %}
    <p class="error">
      Your username and password didn't match. Please try again.
    </p>
    {% endif %}
  </body>
</html>
